@font-face {
	font-family: "ex";
	src:url(../fonts/unimedsans-book.eot);
	src:url(../fonts/unimedsans-book.eot?#iefix) format('embedded-opentype'),
					url(../fonts/unimedsans-book.woff) format('woff'),
					url(../fonts/unimedsans-book.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}
